* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.mainWidth {
  max-width: 1155px;
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light/existence-light-webfont.eot");
  src: url("../fonts/existence-light/existence-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/existence-light/existence-light-webfont.woff2") format("woff2"), url("../fonts/existence-light/existence-light-webfont.woff") format("woff"), url("../fonts/existence-light/existence-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato/lato-hairline-webfont.eot");
  src: url("../fonts/lato/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-hairline-webfont.woff2") format("woff2"), url("../fonts/lato/lato-hairline-webfont.woff") format("woff"), url("../fonts/lato/lato-hairline-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato/lato-regular-webfont.eot");
  src: url("../fonts/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato/lato-regular-webfont.woff") format("woff"), url("../fonts/lato/lato-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  background-image: url("../images/backgroundTop.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: 100% auto;
  height: 0;
  padding-bottom: 52.5%;
  display: block;
}

header h1 {
  font-family: "existencelight";
  color: #ffffff;
  font-size: 3.75em;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  width: 100%;
  margin: 0 auto;
}

header .colorWord {
  color: #9f449b;
}

header h2 {
  color: #ffffff;
  font-size: 2.1875em;
  font-family: "latohairline";
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

header p {
  color: #ffffff;
  font-size: 1.25em;
  font-family: "latohairline";
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 5%;
}

.shapeContainerTwo {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none;
}

.shapeContainerTwo .shape {
  width: 16.66667%;
  border: 2px dashed white;
  background-image: url("../images/topShape.svg");
  background-repeat: no-repeat;
  background-size: 76%;
  padding-bottom: 13%;
  background-position: center;
  position: relative;
}

.shapeContainerTwo .shape .icon {
  width: 72%;
  position: absolute;
  top: 20%;
  left: 37%;
  border: 2px dashed white;
}

.shapeContainerFour {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.shapeContainerFour .shapeSide {
  width: 33.33333%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.shapeContainerFour .shapeSide .shape {
  width: 50%;
  border: 2px dashed white;
  background-image: url("../images/topShape.svg");
  background-repeat: no-repeat;
  background-size: 76%;
  padding-bottom: 40%;
  background-position: center;
  position: relative;
}

.shapeContainerFour .shapeSide .shape .icon {
  width: 74%;
  position: absolute;
  top: 20%;
  left: 37%;
  border: 2px dashed white;
}

@media only screen and (max-width: 1330px) {
  header h1 {
    font-size: 3.3em;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  header p {
    padding-bottom: 3%;
  }
}
