.content {
	background-color: #eeeeee;
}

.contentContainerFour {
	width: 100%;
	margin: 0;
	padding-top: 7%;
	padding-bottom: 10%;
	@include flexBox;
	// @include flexJustify(space-between);
	// @include flexAlignItems(center);
	.contentShape {
		width: 25%;
		@include flexBox;
		@include flexDirection(column);
		@include flexAlignItems(center);
		text-align: center;
		h4 {
			font-family: "latoregular";
            color: #676767;
            margin: 0;
            padding-top: 16%;
            text-align: center;
		}
		p {
			font-family: "latoregular";
            font-weight: 400;
            color: #676767;
            width: 90%;
            font-size: 0.9em;
            margin: 0;
		}
	}
}

// .contentContainerFour {
// 	display: inline-block;
// 	width: 100%;
// 	.contentShape {
// 		display: inline-block;
// 		margin: 0;
// 		text-align: center;
// 		img {
// 			width: 100%;
// 			padding: 19%;
// 			display: block;
// 		}
// 	}
// 	h4 {
// 		display: inline-block;
// 		text-align: center;
// 		margin: 0;
// 	}
// 	p {
// 		display: inline-block;
// 		text-align: center;
// 		margin: 0;
// 		width: 10%;
// 	}
// }