.content {
	background-color: #eeeeee;
	padding-top: 10%;
}

.contentContainerFour {
	width: 100%;
	margin: 0;
	padding-bottom: 10%;
	@include flexBox;
	// @include flexJustify(space-between);
	// @include flexAlignItems(center);
	.contentShape {
		width: 25%;
		@include flexBox;
		@include flexDirection(column);
		@include flexAlignItems(center);
		text-align: center;
		h4 {
			font-family: "latoregular";
            color: #676767;
            margin: 0;
            padding-top: 16%;
            text-align: center;
		}
		p {
			font-family: "latoregular";
            font-weight: 400;
            color: #676767;
            width: 90%;
            font-size: 0.9em;
            margin: 0;
		}
	}
}

