.gridContainer {
	width: 100%;
	max-width: 1155px;
	.row {
		&:after,
		&:before {
			content: "";
			display: table;
			clear: both;
		}
	}
	[class*="col-"] {
		float: left;
		min-height: 1px;
	}
	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $mainWidth * $i;
		}
	}
}