header {
	background-image: url("../images/backgroundTop.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    @include rwdImages(2000px, 1050px);
    h1 {
    	font-family: "existencelight";
    	color: #ffffff;
        font-size: 3.5em;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
        margin: 0 auto;
    }
    h2 {
        color: #ffffff;
        font-size: 1.8em;
        font-family: "latohairline";
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    p {
        color: #ffffff;
        font-size: 1.1em;
        font-family: "latohairline";
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding-top: 1%;
        padding-bottom: 3%;
    }
}

.shapeContainerTwo {
        margin:0;
        padding:0;
        display: flex;
        width: 100%;
        justify-content: center;
        list-style-type: none;
        .shape {
            width: $iconWidth;
            // border:2px dashed white;
            background-image: url("../images/topShape.svg");
            background-repeat: no-repeat;
            background-size: 58%;
            padding-bottom: 11%;
            background-position: center;
            position: relative;
            .icon {
                width: 26%;
                position: absolute;
                top: 20%;
                left: 37%;
            }
            &:hover {
                background-image: url("../images/hovershape.png");
                cursor: pointer;
            } 
        }
    }

.shapeContainerFour {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .shapeSide {
        width:$iconWidth * 2;
        margin:0;
        padding:0;
        display:flex;
        list-style-type: none;
        .shape{
            width: 50%;
            // border:2px dashed white;
            background-image: url("../images/topShape.svg");
            background-repeat: no-repeat;
            background-size: 58%;
            padding-bottom: 33%;
            background-position: center;
            position: relative;

            .icon {
                width: 21%;
                position: absolute;
                top: 20%;
                left: 39%;
            }
            &:hover {
                background-image: url("../images/hovershape.png");
                cursor: pointer;
            }   
        }
    }
}

.shapeContainerOne {
    // border: 1px solid white;
    width: 100%;
    text-align: center;
    .shapeCenter {
        width: 13%;
        // border: 1px solid white;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        top: -5px;
        .littleShape {
            width: 100%;
            background-image: url("../images/topShape.svg");
            background-repeat: no-repeat;
            background-size: 36%;
            padding-bottom: 39%;
            background-position: center;
            position: relative;
            .icon {
                width: 14%;
                position: absolute;
                top: 39%;
                left: 43%;
            }
            &:hover {
                background-image: url("../images/hovershape.png");
                cursor: pointer;
            } 
        }    
    }
    
}
   