header {
	background-image: url("../images/backgroundTop.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
    @include rwdImages(2000px, 1050px);
    h1 {
    	font-family: "existencelight";
    	color: #ffffff;
        font-size: 3.5em;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
        margin: 0 auto;
    }
    h2 {
        color: #ffffff;
        font-size: 1.8em;
        font-family: "latohairline";
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    p {
        color: #ffffff;
        font-size: 1.1em;
        font-family: "latohairline";
        width: 60%;
        text-align: center;
        margin: 0 auto;
        padding-top: 1%;
        padding-bottom: 3%;
    }
}

.shapeContainerTwo {
        margin:0;
        padding:0;
        width: 100%;
        @include flexBox;
        @include flexJustify(center);
        list-style-type: none;
        .shape {
            width: $iconWidth;
            // border:2px dashed white;
            position: relative;
            text-align: center;
            a {
                background-image: url("../images/topShape.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                padding-bottom: 63%;
                background-position: center;
                display: inline-block;
                width:58%;
                // transition: background-image 1s;
                &:hover {
                    background-image: url("../images/hovershape.png");
                }   
            }
            .icon {
                width: 26%;
                position: absolute;
                top: 20%;
                left: 37%;
            }
            
        }
    }

.shapeContainerFour {
    width: 100%;
    @include flexBox;
    @include flexJustify(space-between);
    .shapeSide {
        width:$iconWidth * 2;
        margin:0;
        padding:0;
        @include flexBox;
        list-style-type: none;
        .shape {
            width: 50%;
            position: relative;
            text-align: center;
            a {
                background-image: url("../images/topShape.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                padding-bottom: 63%;
                background-position: center;
                display: inline-block;
                width:58%;
                // transition: background-image 1s;
                &:hover {
                    background-image: url("../images/hovershape.png");
                }   
            }
            .icon {
                width: 21%;
                position: absolute;
                top: 20%;
                left: 39%;
            }
            .contactIcon {
                width: 27%;
                left: 34%;
            }
          
        }
    }
}

.shapeContainerOne {
    // border: 1px solid white;
    width: 100%;
    text-align: center;
    .shapeCenter {
        width: 13%;
        // border: 1px solid white;
        display: inline-block;
        margin: 0;
        padding: 0;
        .littleShape {
            text-align: center;
            position: relative;
            .icon {
                width: 13%;
                position: absolute;
                top: 36%;
                left: 44%;
            }
            a {
                background-image: url("../images/topShape.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                padding-bottom: 33%;
                background-position: center;
                display: inline-block;
                width: 30%;
                // transition: background-image 1s;
                &:hover {
                    background-image: url("../images/hovershape.png");
                }  
            }
            
        }    
    }
    
}
   