nav {
    background-color: #ffffff;
    padding-bottom: 7%;
    h3 {
        font-family: "existencelight";
        display: inline-block;
        float: left;
        color: #676767;
        font-size: 1.3em;
        margin: 0;
        padding-top: 2%;
    }
}



.menu {
    display: inline-block;
    float: right;
    margin: 0;
    padding-top: 2%;
    li {
        display: inline-block;
        margin: 0;
        a {
            text-transform: uppercase;
            color: #676767;
            font-family: "latoregular";
            font-weight: 400;
            font-size: 0.9em;
            padding-right: 35%;
            &:active {
                color: #9f449b;
            }
        }
    }
}

.hamburger {
    display: none;
}