.slider {
	background-color: #eeeeee;
	padding-top: 10%;
	padding-bottom: 1%;
}

.sliderTop {
	width: 100%;
	margin: 0;
	@include flexBox;
	@include flexJustify(space-betwween);
	.sliderData {
		width: 25%;
		@include flexBox;
		@include flexDirection(column);
		@include flexWrap(wrap);
		@include flexAlignItems(center);
		.sliderNumber {
			font-family: Helvetica;
			font-size: 3em;
			padding: 2%;
			margin: 0;
		}
		.bottomText {
			margin: 0;
			font-family: Helvetica;
			font-size: 0.8em;
			color: #777777;
		}
	}
}

.sliderContainer {
	margin-top: 10%;
	.sliderImg {
		text-align: center;
		img {
			width: 25%;
			border-radius: 50%;
			display: inline-block;
		}
	}
	.sliderText {
		margin: 0;
		text-align: center;
		font-family: Helvetica;
		color: #4b4b4b;
		font-size: 1.7em;
		p {
		}
		.sliderTextAuthor {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.6em;
			color: #777777;
		}
	}
}