
 @media only screen and (max-width: 830px){
    header {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
            padding-bottom: 1%;
            width: 70%;
        }
    }
    .menu {
        li {
            a {
                padding-right: 15%;
                font-size: 0.8em;
            }
        }
    }
    nav {
        h3 {
            padding-top: 1%;
        }
    }
    .aboutUsContainerTwo {
        .abouUsText {
            p {
                font-size: 0.8em;
            }
        }
    }
 }

 @media only screen and (max-width: 630px) {
    .shapeContainerTwo {
        display: none;
    }
    .shapeContainerFour {
        display: none;
    }
    .shapeContainerOne {
        display: none;
    }
    .contentContainerFour {
        padding: 0;
        @include flexAlignItems(center);
        @include flexDirection(column);
        @include flexWrap(wrap);
        .contentShape {
            width: 65%;
            @include flexDirection(row);
            text-align: center;
            padding-top: 2%;
            .buildIcon,
            .cleanIcon,
            .easyIcon,
            .fullyIcon {
                width: 77%;
                padding-bottom: 31%;
            }
            div {
                padding-left: 1%;
            }
            h4 {
                display: inline-block;
                padding-top: 5%;
                font-size: 0.9em;
            }
            p {
                font-size: 0.85em;
            }
        }
    }
    .aboutUsContainerTwo {
        @include flexAlignItems(center);
        .abouUsText {
            p {
                display: none;
            }
            a {
                font-size: 0.9em;
            }
        }
    }
 }

@media only screen and (max-width: 450px) {
    .contentContainerFour {
        .contentShape {
            .buildIcon,
            .cleanIcon,
            .easyIcon,
            .fullyIcon {
                width: 29%;
            }
            p {
                display: none;
            }
            a {
                font-size: 0.9em;
                padding: 8%;
            }
        }
    }
    .aboutUsContainerTwo {
        @include flexAlignItems(center);
        .abouUsText {
            a {
                padding: 6%;
                width: 70%;
            }
        }
    }
}

