
 @media only screen and (max-width: 830px){
    header {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
            padding-bottom: 1%;
            width: 70%;
        }
    }

    .menu {
        li {
            a {
                padding-right: 15%;
                font-size: 0.8em;
            }
        }
    }

    .navContainer {
        h3 {
            padding-top: 1%;
        }
    }

    .aboutUsContainerOne {
        .corners {
            h4 {
                font-size: 2em;
            }
        }
    }

    .aboutUsContainerTwo {
        .abouUsText {
            p {
                font-size: 0.8em;
            }
        }
    }

    .quoteContainer {
        padding-top: 7%;
        .quoteShape {
            padding-bottom: 14%;
        }
        p {
            font-size: 1.5em;
            padding: 0;
        }
    }

    .teamContainerOne {
        .corners {
            h4 {
                font-size: 2em;
            }
        }
    }

    .skillsContainerOne {
        .corners {
            h4 {
                font-size: 2em;
            }
        }
    }

    .teamContainerTwo {
        .teamShapeLeft {
            .teamLeft {
                padding-top: 47%;
            }
        }
        .teamShapeRight {
            .teamRight {
                padding-top: 47%;
            }
        }
    }

    .portfolioContainerOne {
        .corners {
            h4 {
                font-size: 2em;
            }
        }
    }

    .portfolioContainerFour {
        .portfolioContainerButtons {
            @include flexJustify(center);
        }
    }

    .moreBtn {
        a {
            width: 24%;
        }
    }

    .contactContainerOne {
        .corners {
            h4 {
                font-size: 2em;
            }
        }
    }

    .contactContainerTwo {
        .rightContact {
            .socialMedia {
                .facebook,
                .twitter,
                .gmail {
                    padding-top: 48%;
                }
                .mediaContent {
                    margin-right: 3%;
                }
            }
        }
    }
    
 }

 @media only screen and (max-width: 630px) {
    .shapeContainerTwo {
        display: none;
    }
    .shapeContainerFour {
        display: none;
    }
    .shapeContainerOne {
        display: none;
    }
    .contentContainerFour {
        padding: 0;
        @include flexAlignItems(center);
        @include flexDirection(column);
        @include flexWrap(wrap);
        .contentShape {
            width: 65%;
            @include flexDirection(row);
            text-align: center;
            padding-top: 2%;
            .buildIcon,
            .cleanIcon,
            .easyIcon,
            .fullyIcon {
                width: 77%;
                padding-bottom: 31%;
            }
            div {
                padding-left: 1%;
            }
            h4 {
                display: inline-block;
                padding-top: 5%;
                font-size: 0.9em;
            }
            p {
                font-size: 0.85em;
            }
        }
    }

    .aboutUsContainerOne {
        .corners {
            padding-top: 16%;
            h4 {
                font-size: 1.7em;
            }
        }
    }

    .aboutUsContainerTwo {
        @include flexAlignItems(center);
        .abouUsText {
            p {
                display: none;
            }
            a {
                font-size: 0.9em;
            }
        }
    }

    .quoteContainer {
        padding-top: 7%;
        .quoteShape {
            display: none;
            .quoteIcon {
                display: none;
            }
        }
    }

    .teamContainerOne {
        .corners {
            padding-top: 16%;
            h4 {
                font-size: 1.7em;
            }
        }
    }

    .skillsContainerOne {
        .corners {
            padding-top: 16%;
            h4 {
                font-size: 1.7em;
            }
        }
    }

    .teamContainerTwo {
        .teamShapeLeft {
            .teamLeft {
                padding-top: 68%;
            }
        }
        .teamShapeRight {
            .teamRight {
                padding-top: 68%;
            }
        }
    }

    .sliderTop {
        @include flexDirection(column);
        @include flexWrap(wrap);
        .sliderData {
            width: 100%;
            padding-top: 3%;
            @include flexDirection(row);
            @include flexJustify(center);
            .bottomText {
                padding-left: 3%;
            }
        }
    }

    .portfolioContainerOne {
        .corners {
            padding-top: 16%;
            h4 {
                font-size: 1.7em;
                left: 30%;
            }
        }
    }

    .portfolioContainerFour {
        .portfolioContainerButtons {
            width: 60%;
        }
    }

    .gallery {
        .photo {
            width: 45%;
        }
    }

    .moreBtn {
        a {
            width: 32%;
        }
    }

    .contactContainerOne {
        .corners {
            padding-top: 16%;
            h4 {
                font-size: 1.7em;
                left: 30%;
            }
        }
    }

    .contactContainerTwo {
        @include flexDirection(column);
        @include flexWrap(wrap);
        @include flexAlignItems(center);
        .leftContact {
            width: 100%;
            .contactButton {
                @include flexAlignSelf(center);
            }
        }
        .rightContact {
            width: 100%;
            padding-top: 2%;
            .socialMedia {
                @include flexJustify(center);
                .facebook,
                .twitter,
                .gmail {
                    padding-top: 94%;
                }
                .mediaContent {
                    
                }
            }
            p {
                text-align: center;
                font-size: 1em;
            }
        }
    }

    nav {
        position: relative;
        padding: 0;
    }

    .navContainer {
        h3 {
            display: none;
        }
    }

    .hamburger {
        display: block;
        text-transform: uppercase;
        text-align: center;
        color: #676767;
        font-family: "latoregular";
        font-weight: 400;
        font-size: 1.6em;
        line-height: 1em;
        padding: 2%;
        &:hover {
            cursor: pointer;
        }
    }
    .menu {
        width: 100%;
        float: none;
        position: absolute;
        top: 70%;
        padding: 0;
        li {
             display: block;
             text-align: center;
             background-color: white;
             padding: 2%;
             border-bottom: 1px solid #676767;
             a {
                padding: 4%;
                font-size: 1.3em;
             }
        }
    }
 }

@media only screen and (max-width: 450px) {
    header {
        p {
            display: none;
        }
    }

    .navContainer {
        h3 {
            padding-top: 0;
        }
    }

    .hamburger {
        padding: 0;
    }

    .menu {
        top: 100%;
        left: 48%;
    }

    .contentContainerFour {
        .contentShape {
            .buildIcon,
            .cleanIcon,
            .easyIcon,
            .fullyIcon {
                width: 29%;
            }
            p {
                display: none;
            }
            a {
                font-size: 0.9em;
                padding: 8%;
            }
        }
    }

    .aboutUsContainerOne {
        .corners {
            padding-top: 25%;
            h4 {
                font-size: 1.5em;
            }
        }
    }

    .aboutUsContainerTwo {
        @include flexAlignItems(center);
        .abouUsText {
            a {
                padding: 6%;
                width: 70%;
            }
        }
    }

    .quoteContainer {
        p {
            font-size: 1.1em;
            padding: 0;
        }
    }

    .teamContainerOne {
        .corners {
            padding-top: 25%;
            h4 {
                font-size: 1.5em;
            }
        }
    }

    .skillsContainerOne {
        .corners {
            padding-top: 25%;
            h4 {
                font-size: 1.5em;
            }
        }
    }

    .teamContainerTwo {
        .teamShapeLeft {
            .teamLeft {
                padding-top: 68%;
                padding-bottom: 42%;
            }
        }
        .teamShapeRight {
            .teamRight {
                padding-top: 68%;
                padding-bottom: 42%;
            }
        }
    }

    .portfolioContainerOne {
        .corners {
            padding-top: 26%;
            h4 {
                font-size: 1.5em;
            }
        }
    }

    .portfolioContainerFour {
        .portfolioContainerButtons {
            width: 100%;
            padding: 1% 1%;
        }
    }

    .gallery {
        .photo {
            padding-bottom: 6%;
            .photoTitle {
                font-size: 1em;
            }
        }
    }

    .moreBtn {
        a {
            width: 39%;
        }
    }

    .contactContainerOne {
        .corners {
            padding-top: 26%;
            h4 {
                font-size: 1.5em;
            }
        }
    }

    .contactContainerTwo {
        .rightContact {
            .socialMedia {
                .facebook,
                .twitter,
                .gmail {
                    padding-top: 94%;
                    padding-bottom: 73%;
                }
                .mediaContent {
                    margin-right: 12%;
                }
            }
        }
    }

    
}

