@mixin rwdImages ($width, $height) {
    background-size: 100% auto;
    height: 0;
    padding-bottom: percentage($height/$width);
    display: block;
}


@mixin flexBox {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}


@mixin flexJustify($position) {
	-webkit-justify-content: $position;
	-moz-webkit-content: $position;
	justify-content: $position;
}

@mixin flexAlignItems($align) {
	-webkit-align-items: $align;
	-moz-webkit-align-items: $align;
	align-items: $align;
}

@mixin flexWrap($wrap) {
	-webkit-flex-wrap: $wrap;
	-moz-flex-wrap: $wrap;
	flex-wrap: $wrap;
}

@mixin flexDirection($direction) {
	-webkit-flex-direction: $direction;
	-moz-flex-direction: $direction;
	flex-direction: $direction;
}

@mixin flexAlignContent($alignContent) {
	-webkit-align-content: $alignContent;
	-moz-align-content: $alignContent;
	align-content: $alignContent;
}